!!!
html
    head
        style
            .waveform {
                border: 1px solid #CCC;
            }

            .cursor {
                position: relative;
                height: 0px;
            }

            .cursor .bar {
                background-color: red;
                margin: -5px 0 0 0;
                position: relative;
                width: 1px;
            }

        - if (env() == 'production')
            script(src="https://s3.amazonaws.com/webaudio.herokuapp.com/application.js")
        - else
            script(src="jam/require.js")
            script(src="app/main.js")

    body
        #timer
        #player
        #waveform