!!!
html
    head
        style
            .waveform {
                border: 1px solid #CCC;
            }

            .cursor {
                position: relative;
                height: 0px;
            }

            .cursor .bar {
                background-color: red;
                margin: -5px 0 0 0;
                position: relative;
                width: 1px;
            }
            
        !{ js() }

    body
        #timer
        #player
        #waveform